{% load customtags %}
<!-- Краткое представление новости news/templates/include/article_preview.html -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">#{{ article.id }}. {{ article.title }}</h5>
        <p class="card-text">{{ article.content|truncatechars:50 }}</p>
        <p class="card-text">
            <a href="{% url 'news:article_by_category' article.category.id %}" class="text-decoration-none">{{ article.category }}</a>
        </p>
        {% for tag in article.tags.all %}
            <a href="{% url 'news:article_by_tag' tag.id %}" class="badge bg-info">{{ tag.name }}</a>
        {% endfor %}
        <p class="card-text">{{ article.publication_date }}</p>
        <p class="card-text">Просмотры: {{ article.views }}</p>
        <p class="card-text">Лайки: {{ article.likes.count }}</p>
    <form method="POST" action="{% url 'news:like_toggle' article.id %}">
		  {% csrf_token %}
		  <button type="submit" class="btn btn-primary">
		    {% if article|has_liked:user_ip %}
		      ❤️
		    {% else %}
		      🤍
		    {% endif %}
		  </button>
		</form>
        <p class="card-text">{{ article.favorites_count }}</p>
        <a href="{% url 'news:detail_article_by_id' article.id %}" class="btn btn-primary">Подробнее</a>
    </div>
</div>